@using MusicViewer.Models
@model MusicViewer.Models.AlbumViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Albums</h2>

<table class="table">
    <thead>
        <tr>
            <th>Album</th>
            <th>Artist</th>
        </tr>


    </thead>
    <tbody>
        @foreach (Album a in Model.Albums)
        {
            <tr>
                <td>@Html.ActionLink(a.Name != "" ? a.Name : "No Title", "Get", new { id = a.Id })</td>
                <td>@a.Artist.Name</td>
            </tr>
        }
    </tbody>
</table>

